* {
   box-sizing: border-box;
}


body {
   margin: 0;
   padding: 0;
   background-color: white;
}



.option-cont {
   position: absolute;
   top: 3rem;
   left: 2rem;
   height: 3rem;
   width: 3rem;
   background-color: aqua;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   animation: ContAnimation 0.8s ease-in-out;
   cursor: pointer;
}

@keyframes ContAnimation {
   0% {
      transform: scale(0);
   }
   70% {
      transform: scale(1.2);
   }
   100%{
      transform: scale(1);
   }
}

.option-cont:active{
   background-color: azure;
   transform: scale(0.8);
}
.option-cont:hover {
   transform: scale(1.1);
}

.tool-cont {
   height: 3rem;
   width: 60vw;
   background-color: rgb(218, 211, 211);
   position: relative;
   top: 3rem;
   left: calc((100% - 60vw)/2);
   display: flex;
   justify-content: space-around;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   border-radius: 10px;
   animation: ContAnimation 0.8s ease-in-out;
}

.tool {
   position: relative;
   /* left: 55px; */
}

.pencil-option-cont {
   height: 4rem;
   width: 9rem;
   background-color: rgb(218, 211, 211);
   position: absolute;
   top: 3.1rem;
   left: -4rem;
   display: none;
   justify-content: center;
   flex-direction: column;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.pencil-width {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   top: .4rem;
}

.pencil-color {
   background-color: rgb(218, 211, 211);
   height: 9rem;
   height: 3rem;
   display: flex;
   justify-content: space-evenly;
   align-items: center;

}

.color {
   background-color: black;
   height: 1rem;
   width: 1rem;
}

.red {
   background-color: red;
}

.black {
   background-color: black;
}

.purple {
   background-color: rebeccapurple;
}

.eraser-option-cont {
      height: 4rem;
      width: 9rem;
      background-color: rgb(218, 211, 211);
      position: absolute;
      top: 3.1rem;
      left: -3.3rem;
      display: none;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


/* 
.pencil > i {
   transition: all .2s ease-in-out;
} */

.tool > i {
   transition: all .2s ease-in-out;
}

.pencil > i:hover {
   transform:  scale(.9);
}

.eraser > i:hover {
   transform: scale(1.1);
}

.download > i:hover {
   transform: translateY(5px);
}

.upload > i:hover {
   transform: translateY(-5px);
}

.undo > i:hover {
   transform: rotate(-40deg);
}

.redo > i:hover {
   transform: rotate(40deg);
}

.note > i:hover {
   transform: translateX(3px) translateY(3px);
}

.note-cont {
   width: 10rem;
   /* background-color: cadetblue; */
   position: absolute;
   top: 30rem;
   left: 10rem;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.note-header {
   background-color: #666 ;
   height: 20px;
   width: 100%;
   border-radius: 5px 5px 0px 0px ;
   display: flex;
   justify-content: flex-end;
   gap: 5px;
   align-items: center;
}

.note-header > * {
   height: 12px;
   width: 12px;
   /* background-color: cadetblue; */
   margin-right: 6px;
   border-radius: 50%;
}

.note-body {
   background-color: rgb(212, 206, 206);
   height: 10rem;
   width: 100%;
   border-radius: 0px 0px 5px 5px;
}

.note-body > * {
   height: 100%;
   width: 100%;
}

.minimize {
   background-color: #b3da33;
}

.close {
   background-color: rgb(204, 42, 42);
}

img {
   height: 100%;
   width: 100%;
}